<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>clienteServlet</servlet-name>
        <servlet-class>Controlador.Cliente.clienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medicamentoServlet</servlet-name>
        <servlet-class>Controlador.Medicamento.medicamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proveedorServlet</servlet-name>
        <servlet-class>Controlador.Proveedor.proveedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sucursalServlet</servlet-name>
        <servlet-class>Controlador.Sucursal.sucursalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trabajadorServlet</servlet-name>
        <servlet-class>Controlador.Trabajador.trabajadorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clienteServlet</servlet-name>
        <url-pattern>/clienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medicamentoServlet</servlet-name>
        <url-pattern>/medicamentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proveedorServlet</servlet-name>
        <url-pattern>/proveedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sucursalServlet</servlet-name>
        <url-pattern>/sucursalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trabajadorServlet</servlet-name>
        <url-pattern>/trabajadorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
